main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#media-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px double #1DA400;
    border-radius: 24px;
}

img {
    height: 500px;
    width: 800px;
}

iframe {
    height: 500px;
    width: 800px;
    border: 5px double #1DA400;
    border-radius: 24px;
}

#about {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#leftSideInfo {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}



#rightSidePannel {
    width: 35%;
    height: 100%;
    border: 10px double #1DA400;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    text-align: justify;
    padding: 0 15px ;
    text-indent: 25px ;
}

#data {
    background-color: rgb(0, 0, 0);
    color: #1DA400;
    outline: none;
    font-size: 35px;
    height: 30px;
    font-family: space;
    width: 205px;

    border: dashed;
    padding: 25px 1px;

    border-color: #1DA400;
    appearance: none;
    position: relative;
    text-transform: uppercase;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {

    position: absolute;
    display: none;
    -webkit-appearance: none;
}

#data::-webkit-datetime-edit-day-field {
    caret-color: #a40000;
    outline: none;
}


#caixa{
    color: #a40000;
    animation: cursor 8s infinite;  
    border: #a40000; 
}
/* 
input[type="date"] {
    animation:
} */

input[type="date"]::-webkit-datetime-edit-month-field:focus {
    
    background-color: #1DA400 ;
    text-transform: uppercase;
}
/* .onfocus{
    animation: changecolor 3s ease-in-out;
    
} */
input[type="date"]::-webkit-datetime-edit-day-field:focus {
    background-color: #1DA400 ;
    text-transform: uppercase;
}

input[type="date"]::-webkit-datetime-edit-day-field{
    margin-right: 30px;
    margin-left: 15px;
}
input[type="date"]::-webkit-datetime-edit-year-field{
    margin-left: 30px;
    margin-right: 15px;
}

input[type="date"]::-webkit-datetime-edit-year-field:focus {
    
    background-color: #1DA400;
    text-transform: uppercase;
}
input[type="date"]::-webkit-datetime-edit-text{
    display: none;
    color: transparent;
    font-size: 5px !important;
    margin: 0 10px;
}
input[type="date"]::after{
    content: "";
    width: 10px;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 25%;
    background-color:#1DA400;
    z-index: 3;
    border-radius: 1.5px;
}

input[type="date"]::before{
    content: "";
    width: 10px;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    right: 38%;
    background-color: #1DA400;
    z-index: 3;
    border-radius: 1.5px;
    
}

@keyframes changecolor{
    from{
        background-color: #1DA400 ;
    }
    50%{
        background-color: #1ea40089 ;
    }
    to{
        background-color: transparent ;
    }
}
@keyframes cursor {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}