@media (max-width:1241px) {

    #leftSideInfo {
        width: 55%;
    
    }

    #rightSidePannel {
        width: 45%;
    }
    img {
        height: 400px;
        width: 600px;
    }
    iframe {
        height: 400px;
        width: 600px;
    }
}
@media (max-width:1025px){
    img {
        height: 400px;
        width: 500px;
    }
    iframe {
        height: 400px;
        width: 500px;
    }
    
}

@media (max-width:769px) {
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap:10px;
    }
    #leftSideInfo {
        width: 100%;
        
    
    }

    #rightSidePannel {
        width: 100%;
        
    }
    img {
        height: 400px;
        width: 700px;
    }
    iframe {
        height: 400px;
        width: 700px;
    }
}

@media (max-width:426px) {
   
    #about{
        width: 100%;
    }
    #rightSidePannel {
        width: 100%;
        justify-content:normal;
       height: fit-content;
    }
    img {
        height: 400px;
        width: 400px;
    }
    iframe {
        height: 400px;
        width: 400px;
    }
}
@media (max-width:376px) {
    img {
        height: 300px;
        width: 300px;
    }
    iframe {
        height: 300px;
        width: 300px;
    }
}

